.aboutme{
  font-size: 24;
  font-weight: bolder;
  text-align: center;
}
.blog1{
  color: red;
  font-weight: bold;

}
.blog2{
  color: orange;
  font-size: 24;
  font-weight: bolder;

}
.blog3{
  color: yellow;
  font-size: 24;
  font-weight: bolder;

}
